  /* 共通クラス */

  body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #dbc6b7;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  h2 {
    text-align: center;
    margin: 100px 0;
    letter-spacing: 10px;
    font-family: 'Stalemate', cursive;
  }

  .container {
    max-width: 1180px;
    padding: 0 40px;
    margin: auto;
  }
  
/* ヘッダー */

  .header > .container {
    height: 60px;
    display:flex;
    align-items: center;
  }
  
  /* ヘッダーのナビゲーション */
  .area_nav_header { 
    margin-left: auto;
  }

  .list_nav_header {
    display: flex;
    align-items: center;
  }

  .list_nav_header li{
    margin-left: 40px;
    list-style: none;
    padding-top: 15px;
  }

  .area_nav_header a{
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
  }

  .title-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    padding-top: 300px;
    color: #e6dcd8;
    font-family: 'Quicksand', sans-serif;
  }

  /* end_ヘッダー */
  
  /* home */
  
  .home {
    height: 90vh;
    background-image: url("images/demo-parallax.jpg");
    width: 100%;                 
    background-repeat: no-repeat;
    border-radius: 50% 50% 50% 50%;
  }

  /* end_home */

/* about */

h2:first-letter {
  font-size: 2em;
  color: #fff;
}

.media {
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.media__img-wrapper {
  flex: 0 1 27.58333%;
  margin-right: 3.33333%;
}

.media__img {
  width: 100%;
}

.media__body {
  flex: 1;
}

.media__body > *:last-child {
  margin-bottom: 0;
}

.media__title {
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .media {
    display: block;
  }

  .media__img-wrapper {
    margin-right: 0;
    margin-bottom: 20px;
  }
}


/* end_about */


/* skill */

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card-image {
  width: 100%;
}

.cards--col3 {
  margin-bottom: -30px;
}

.cards--col3 > .cards__item {
  width: 31.707%;
  margin-right: 2.43902%;
  margin-bottom: 30px;
}

.cards--col3 > .cards__item:nth-of-type(3n) {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .cards--col3 {
    margin-bottom: -20px;
  }

  .cards > .cards__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* end_skill */

/* works */

.grid {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.card {
  width: 350px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content {
  padding: 20px;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}

/* end_works */


/* contact */

form{
  width:560px;
  margin:0 auto;
}
.item{
  overflow: hidden;
  margin-bottom: 20px;
}

.inputs{
  width:500px;
}
input[type="text"],input[type="email"]{
  border: solid 1px #aaa;
  border-radius:15px;
  padding:10px;
  font-size: 15px;
  text-align: center;
}
textarea{
  border: solid 1px #aaa;
  border-radius:15px;
  padding: 10px;
  height: 160px;
  font-size: 15px;
  text-align: center;
}
.btn-area{
  text-align: center;
  margin:50px 0;
}
input[type="submit"]{
  background: #e0505c;
  border: none;
  color: white;
  font-size:17px;
  font-weight:bold;
  padding: 10px 20px;
  margin: 0 5px;
}
input[type="reset"]{
  background: #aaa;
  border: none;
  color: white;
  font-size:17px;
  font-weight:bold;
  padding: 10px 20px;
  margin: 0 5px;
}

/* end_contact */

/* トップに戻るボタン */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;

  display: none;
  width: 40px;
  height: 40px;

  background-color: #c76781;
  color: #fff;
  opacity: 0.6;

  font-size: 1.6rem;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 999%;
}

/* マウスを乗せた時に透明度を変える */
.back-to-top:hover {
  opacity: 1;
}

/* end_上に戻るボタン */


/* footer */

footer {
  background-color: #6e5064;
  color: #fff;
  padding: 15px 0;
  margin-top: 20px;
  width: 100%;
}

.copy-right {
  font-size: 12px;
  text-align: center;
}

.footer_icon {
  font-size: 40px;
  margin-right: 20px;
}

/* end_footer */