  /* 共通クラス */

  body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:80px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .container {
    max-width: 1160px;
    padding: 0 40px;
    margin:0 auto;
  }
  
/* ヘッダー */

  header {
    background: #000;
  }

  .header > .container {
    height: 60px;
    display:flex;
    align-items: center;
  }

  .area_logo_header .logo {
    display:block;
  }

  .area_logo_header .logo img {
    height: 30px;
    vertical-align: bottom;
  }

  .list_nav_header {
    display: flex;
    align-items: center;
  }

  .list_nav_header li{
    margin-left: 40px;
    list-style: none;
    padding-top: 15px;
  }

  .area_nav_header {
    margin-left: auto;
  }

  .area_nav_header a{
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
  }

/* end_ヘッダー */
  
  h2 {
    text-align: center;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Tajawal', sans-serif;
    width: 100%;
    margin: 0px auto;
    color: white;
    font-size: 80px;
    letter-spacing: 5px;
    top: 50%;
    margin-top: -40px;
      
    text-shadow: -1px -1px 0px #0055AA,
        3px 3px 0px #0055AA,
        6px 6px 0px #0055AA;
  }

  .video-wrap video {
    display: block;
    margin-bottom: 100px;
    width:100%
}

  .absolute_test {
    position: absolute;        
    padding:  20px;
    left:  50px;
    top: 50px;
    color:white;
}

 .animate__animated.animate__fadeInUp {
    --animate-duration: 2s;
  }

  .main-title {
    font-size: 60px;
}

img {
  margin-right:10px;
  width: 300px;
}

.wine-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 420px;
  padding: 10px 0;
  margin-bottom: 100px;
}
.wine-row p{
  display: block;
  line-height: 4;
}

.wine-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app > div {
  margin: 12px 0;
}

label > span {
  display: inline-block;
  min-width: 130px;
}

textarea {
  width: 250px;
}

.card {
  margin-bottom: 200px;
}

.form-control {
  margin-top: 100px;
}
