  /* 共通クラス */

  body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-image: url("images/image_home.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    }

  a {
    text-decoration: none;
    color: #fff;
  }

  .container {
    max-width: 980px;
    padding: 0 40px;
    margin: auto;
  }
  
  h2 {
    text-align: center;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Tajawal', sans-serif;
    width: 100%;
    margin: 0px auto;
    color: white;
    font-size: 40px;
    letter-spacing: 5px;
    top: 50%;
    margin: 80px 0;
      
    text-shadow: -1px -1px 0px #0055AA,
        3px 3px 0px #0055AA,
        6px 6px 0px #0055AA;
  }
/* ヘッダー */

  .header > .container {
    height: 60px;
    display:flex;
    align-items: center;
  }

  .area_logo_header .logo {
    display:block;
  }

  .area_logo_header .logo img {
    height: 30px;
    vertical-align: bottom;
  }
  
  /* アニメーション着けるときに使用 */
  .area_nav_header { 
    margin-left: auto;
  }

  .list_nav_header {
    display: flex;
    align-items: center;
  }

  .list_nav_header li{
    margin-left: 40px;
    list-style: none;
    padding-top: 15px;
  }

  .area_nav_header a{
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
  }

  .title-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    padding-top: 300px;
    color: #e6dcd8;
    font-family: 'Quicksand', sans-serif;
  }

/* end_ヘッダー */
  
/* home */

.home {
  height: 80vh;
}

/* end_home */

/* about */

.about {
  height: 80vh;
  background-color: #fff;
}

.about_row {
  display: flex;
  justify-content: space-between;
}

.about img {
  width:50%;
  height: 250px;
}

.about_text {
  line-height: 4;
}

.about_text a{
  color: #000;
  font-size: 2em;
}

/* end_about */


/* skill */

.card-sec {
  padding-top: 60px; /* ページタイトルの上の余白 */
  padding-bottom: 142px; /* カード下の余白*/
  
}

.page-title {
  position: relative;
  color: #333333;
  font-size: 60px;
}

.page-title:before { /* page-titleの下線 */
  display: inline-block;
  position: absolute;
  width: 76px;
  height: 5px;
  border-radius: 2px;
  background-color: #3F51B5;
  content: '';
  bottom: -42px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.card-container {
  display: grid; /* カードの横並び */
  grid-template-columns: repeat(auto-fit, minmax(342px, 1fr)); /* gridの設定 */
  gap: 20px 30px; /* カード同士の隙間 縦方向 横方向 */
  margin: 109px auto 0;
  text-align: start; /* カード内の中央寄せ解除 */
}

.card-item {
  width: 100%;
  max-width: 342px;
  margin: 0 auto;
  padding: 16px 16px 35px;
}

.card-img {
  width: 100%;
  max-width: 310px;
  height: auto; 
  vertical-align: bottom; /* 画像の下の余白を埋める */
}

.card-tit {
  margin-top: 20px;
  color: #000;
  font-size: 20px;
  line-height: 1.2;
}

.card-item p {
  margin-top: 20px;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}

/* end_skill */


/* contact */

input[type="email"] {
  width:600px;
  border: 3px solid #d8d8d8;
  font-size: 18px;
  display: block;
  text-align: center;
  margin: auto;
  padding: 15px;
  border-radius: 999px;
}

.btn {
  padding: 20px 60px;
  display: inline-block;
  background-color: #082b48;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 4px;
}

.btn-register {
  display: block;
  margin: 50px auto;
}

/* end_contact */


/* footer */

footer {
  background-color: #082b48;
  color: #fff;
  padding: 8px 0;
  margin-top: 20px;
}

.copy-right {
  font-size: 12px;
}

/* end_footer */